{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th style="width: 200px;" colspan="3"> Регистрация:</th>
        </tr>
        </thead>
        <tbody style="background-color: white; padding: 20px;">
        <tr>
            <td>
                <div style="margin: 10px;">
                    {% for error in errors %}
                        <div class="alert alert-danger"> {{ error }} </div>
                    {% endfor %}
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="control_group"
                                     {% if field.errors %}has-error{% endif %}>
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">{{ field }}</div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="form-actions"><br/>
                            <button type="submit" class="btn btn-primary">
                                Зарегистрироваться
                            </button>
                        </div>
                    </form>
            <td>
        </tr>
        </tbody>
    </table>
{% endblock %}